* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-4 .btn {
    background: #00308f;
    color: white;
    width: 200px;
    height: 50px;
    vertical-align: middle;
}

.col-4 .box-search {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    border: grey;
}

.content {
    padding-left: 100px;
    padding-right: 100px;
}

.content .btn {
    background: #00308f;
    color: white;
    width: 200px;
    height: 50px;
    vertical-align: middle;
    padding: 10px;
}

.content {
    margin-top: 10%;
    max-width: 50%;
}

.content h1 {
    font-size: 70px;
}

.content p {
    margin: 10px 0 30px;
}

.feature-img {
    width: 40%;
    position: absolute;
    bottom: 0;
    top: 150px;
    right: 10%;
}

.modal {
    display: none;
    position: fixed;
    width: 800px;
    height: 500px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    display: flex;
    height: 600px;
    width: 50%;
    border: 1px solid;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.form h2 {
    font-size: 2rem;
    margin: 20px;
}

.box {
    padding: 12px;
    width: 80%;
    height: 60px;
    margin: 15px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: rgb(235, 235, 235);
}
.col-4 .box-search{
    border: grey;
    width: 50px;
    height: 10px;
}
.box-search input{
    border: none;
}

.submit {
    padding: 12px 30px;
    width: 40%;
    margin-top: 15px;
    background-color: #00308f;
    color: white;
    border-radius: 30px;
    border: none;
    text-align: center;
}

.form p {
    text-align: center;
    color: grey;
    margin-top: 15px;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.side img {
    width: 450px;
    height: 450px;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }

  .user-pic{
    width: 40px;
    margin-right: 30px;
  }
  .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    right: 50px;
  }
