.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00308f;
  overflow-x: hidden;
  padding-top: 16px;
  box-shadow: 1px 0px 13px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 0px 13px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 0px 13px 0px rgba(0, 0, 0, 0.35);
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidebar a:hover {
  color: #eee;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.user-pic {
  width: 40px;
  margin-right: 10px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  left: 0px;
  position: absolute;
  top: -60px;
}

.sidebar .logout {
  border: #fff solid 2px;
  border-radius: 25px;
  margin: 20px 10px;
  position: absolute;
  bottom: 0;
  color: #fff;
  width: calc(100% - 20px);
}

.sidebar .logout:hover {
  background-color: #fff;
  color: #000;
}

.sidebar .logout:hover .user {
  color: #fff;
  background-color: transparent;
}